body {
  background-color: hsl(212, 45%, 89%);
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

p {
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  /*box-shadow: 5px 5px 50px 3px hsl(220, 15%, 55%);*/
}

.text {
  margin: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}