body {
  background-color: hsl(212, 45%, 89%);
}

img {}

h1 {
  color: hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.card {
  background-color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}